<!DOCTYPE html>
<html>
<script type="text/javascript" src="scripts/jquery.min.js"></script>
<script type="text/javascript" src="scripts/client.js"></script>
<head>
    <meta charset="utf-8">
    <title>Tau Random Number Guessorama</title>
</head>

<body>
    <h1>Numbah Guessorama</h1>
    <div id="playerSetupScreen">
        <button type="button" id="selectMaxNumberButton">Continue</button>
        <div class="player-profiles">
            <p>Enter player name:</p>
            <input type="text" class="player-name">
            <button type="button" class="add-player-button">+</button>
        </div>
    </div>
    <div id="setupScreen">
        <h4>Select the maximum number:</h4>
        <select id="maxNumberIn">

        </select>
        <button type="button" id="startGameButton">Start Game</button>
    </div>
    <div id="gameScreen">
        <p id="maxNumber"></p>
        <p id="guessCount"></p>
        <div id="playerInputs">

        </div>
        <button type="button" id="submitGuessButton">Submit Guesses</button>
        <button type="button" id="abandonGameButton">Abandon Game</button>
    </div>
    <div id="endScreen">
    </div>
</body>

</html>
