<!DOCTYPE html>
<html>
<script type="text/javascript" src="scripts/jquery.min.js"></script>
<script type="text/javascript" src="scripts/client.js"></script>
<head>
    <meta charset="utf-8">
    <title>Tau Random Number Guessorama</title>
</head>

<body>
    <div id="setupScreen">
        <h1>Tau Random Number Guessorama</h1>
        <select id="maxNumberIn">

        </select>
        <button type="button" id="startGameButton">Start Game</button>
    </div>
    <div id="gameScreen">
        <div id="playerInputs">

        </div>
        <button type="button" id="submitGuessButton">Submit Guesses</button>
    </div>
    <div id="endScreen">
    </div>
</body>

</html>
